
.carousel-item img {
    max-width:100%;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit:cover;
    
    
    
}  

.carousel-caption h5 {
    font-size: 80px; /* Corrigido: removido as vírgulas extras */
    color:rgb(255, 255, 255)
    mix-blend-mode: difference;
  }
  
.carousel-caption p {
    color:rgb(255, 255, 255);
    font-size: 20px;
    mix-blend-mode: difference;
    text-shadow: 150px 150px 150x rgb(0, 0, 0);

}

.carousel-caption {
    position:absolute;
    background: rgba(0, 0, 0, 0.5); /* Adicione um fundo semi-transparente para destacar o texto */
  }


